* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading {
    margin: 1em;
    font-size: 3rem;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.input-form input {
    padding: 1em 2em;
    border: none;
    border-bottom: 1px solid black;
}

.input-form input::placeholder {
    color: #00000094;
}



.input-form button {
    padding: 1em 2em;
    max-width: 20em;
    color: #fff;
    background-color: #0A66C2;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.input-form button:hover {
    background-color: #085098;
}

img {
    max-height: 150px;
}

/* Show Render */

#shows {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    gap: 20px;
}

.show {
    padding: 1em;
    max-width: 10em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 10px;
    box-shadow: -2px -2px 15px -5px #000;
}

.show-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.show-details h2 {
    font-size: 1.3rem;
    text-align: center;
}

.show-details h3 {
    font-size: 0.8rem;
}

.show-genres, .show-rating {
    font-size: 0.7rem;
    font-weight: 200;
}

.show-details button {
    padding: 0.5em 1em;
    border: none;
    background-color: #085098;
    border-radius: 20px;
}

.show-details button a{
    color: #fff;
}